@use "../variables" as *;
@use "../mixins" as *;

.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calendar-mini {
  width: 500px;
  height: auto;
}

